[CaloTrijet2016]
variables = ['mjj[296.,296.,1000.]','th1x[0,0,1000]','pdf_index[modexp=0,fiveparam=1,atlas=2,atlas6=3,silvio4=4,silvio5=5,silvio6=6,nom3=7,nom4=8,nom5=9,nom6=10,nom7=11,alt3=12,alt4=13,alt5=14,alt6=15,alt7=16]']

histoName = 'DijetFilter/dijetMassHisto/dijetMassHisto_isrptcut_70'

variables_range = ['mjj_Low[296.,1000.]', 'mjj_Blind[296.,1000.]', 'mjj_High[296.,1000.]']



combine_parameters = [ 
    'Ntot_bkg4param_CaloTrijet2016[2.0e+07]',
    'Ntot_bkg5param_CaloTrijet2016[2.0e+07]',
    'Ntot_bkgmodexp_CaloTrijet2016[2.0e+07]',
    'Ntot_bkgatlas_CaloTrijet2016[2.0e+07]',
    'Ntot_bkgatlas6_CaloTrijet2016[2.0e+07]',
    'Ntot_bkgsilvio4_CaloTrijet2016[2.0e+07]',
    'Ntot_bkgsilviobias4_CaloTrijet2016[2.0e+07]',
    'Ntot_bkgsilvio5_CaloTrijet2016[2.0e+07]',
    'Ntot_bkgsilvio6_CaloTrijet2016[2.0e+07]',
    'Ntot_bkgnom3_CaloTrijet2016[2.0e+07]',
    'Ntot_bkgnom4_CaloTrijet2016[2.0e+07]',
    'Ntot_bkgnom5_CaloTrijet2016[2.4825e+07]',
    'Ntot_bkgnom6_CaloTrijet2016[2.0e+07]',
    'Ntot_bkgnom7_CaloTrijet2016[2.0e+07]',
    'Ntot_bkgalt3_CaloTrijet2016[2.0e+07]',
    'Ntot_bkgalt4_CaloTrijet2016[2.0e+07]',
    'Ntot_bkgalt5_CaloTrijet2016[1.9697e+07]',
    'Ntot_bkgalt6_CaloTrijet2016[2.0e+07]',
    'Ntot_bkgalt7_CaloTrijet2016[2.0e+07]',
    'Ntot_multi_CaloTrijet2016[2.0e+07]',
    'p0_CaloTrijet2016[1]',
#    'p1_CaloTrijet2016[6.7281e+00]',
#    'p2_CaloTrijet2016[6.6276e+00]',
#    'p3_CaloTrijet2016[2.6387e-01]',
    'p51_CaloTrijet2016[136]', 
    'p52_CaloTrijet2016[-52]',
    'p53_CaloTrijet2016[-13]',
    'p54_CaloTrijet2016[-1.2]',
    'pm1_CaloTrijet2016[-530]', 
    'pm2_CaloTrijet2016[0.9]',
    'pm3_CaloTrijet2016[-600]',
    'pm4_CaloTrijet2016[0.9]',
    'pa1_CaloTrijet2016[-1.8]', 
    'pa2_CaloTrijet2016[375]',
    'pa3_CaloTrijet2016[-3750]',
    'pa4_CaloTrijet2016[17500]',
    'pa61_CaloTrijet2016[-6.5]', 
    'pa62_CaloTrijet2016[900]',
    'pa63_CaloTrijet2016[-14500]',
    'pa64_CaloTrijet2016[140000]',
    'pa65_CaloTrijet2016[-555000]',
    'p1s4_CaloTrijet2016[5]', 
    'p2s4_CaloTrijet2016[20]',
    'p3s4_CaloTrijet2016[150]',
#    'p1sb4_CaloTrijet2016[5]', 
#    'p2sb4_CaloTrijet2016[0]',
#    'p3sb4_CaloTrijet2016[150]',
    'p1s5_CaloTrijet2016[5.2e+00]', 
    'p2s5_CaloTrijet2016[1.8e+01]',
    'p3s5_CaloTrijet2016[1.6e+02]',
    'p4s5_CaloTrijet2016[8.6e-01]',
    'p1s6_CaloTrijet2016[3.6e+00]', 
    'p2s6_CaloTrijet2016[3.3e+01]',
    'p3s6_CaloTrijet2016[-5.5e+01]',
    'p4s6_CaloTrijet2016[1.6e+01]',
    'p5s6_CaloTrijet2016[2.3e+04]',
    'p3nom1_CaloTrijet2016[5]',
    'p4nom1_CaloTrijet2016[5]',
    'p5nom1_CaloTrijet2016[4.7396e+00]',
    'p6nom1_CaloTrijet2016[5]',
    'p7nom1_CaloTrijet2016[5]',
    'p7nom2_CaloTrijet2016[65]',
    'p6nom2_CaloTrijet2016[65]',
    'p5nom2_CaloTrijet2016[6.7900e+01]',
    'p4nom2_CaloTrijet2016[65]',
    'p3nom2_CaloTrijet2016[65]',
    'p7nom3_CaloTrijet2016[-20]',
    'p6nom3_CaloTrijet2016[-20]',
    'p5nom3_CaloTrijet2016[-3.3243e+01]',
    'p4nom3_CaloTrijet2016[-20]',
    'p7nom4_CaloTrijet2016[0]',
    'p6nom4_CaloTrijet2016[0]',
    'p5nom4_CaloTrijet2016[6.3094e+01]',
    'p7nom5_CaloTrijet2016[0]',
    'p6nom5_CaloTrijet2016[0]',
    'p7nom6_CaloTrijet2016[0]',
    'p7alt1_CaloTrijet2016[10]',
    'p6alt1_CaloTrijet2016[10]',
    'p5alt1_CaloTrijet2016[1.0835e+01]',
    'p4alt1_CaloTrijet2016[10]',
    'p3alt1_CaloTrijet2016[10]',
    'p7alt2_CaloTrijet2016[70]',
    'p6alt2_CaloTrijet2016[70]',
    'p5alt2_CaloTrijet2016[6.8709e+01]',
    'p4alt2_CaloTrijet2016[70]',
    'p3alt2_CaloTrijet2016[70]',
    'p7alt3_CaloTrijet2016[0.5]',
    'p6alt3_CaloTrijet2016[0.5]',
    'p5alt3_CaloTrijet2016[1.0716e+00]',
    'p4alt3_CaloTrijet2016[0.5]',
    'p7alt4_CaloTrijet2016[0]',
    'p6alt4_CaloTrijet2016[0]',
    'p5alt4_CaloTrijet2016[6.1833e-02]',
    'p7alt5_CaloTrijet2016[0]',
    'p6alt5_CaloTrijet2016[0]',
    'p7alt6_CaloTrijet2016[0]',
    'sqrts[13000]', 
    'sqrts5[13000]', 
    'sqrtsm[13000]', 
    'sqrtsa[13000]', 
    'sqrtsa6[13000]', 
    'sqrtss4[13000]',
#    'sqrtssb4[13000]',
    'sqrtss5[13000]',
    'sqrtss6[13000]',
    'sqrtsalt7[13000]',
    'sqrtsalt6[13000]',
    'sqrtsalt5[13000]',
    'sqrtsalt4[13000]',
    'sqrtsalt3[13000]',
    'sqrtsnom7[13000]',
    'sqrtsnom6[13000]',
    'sqrtsnom5[13000]',
    'sqrtsnom4[13000]',
    'sqrtsnom3[13000]',
    'CaloTrijet2016_bkg4param_norm[1]',
    'CaloTrijet2016_bkg5param_norm[1]',
    'CaloTrijet2016_modexp_norm[1]',
    'CaloTrijet2016_atlas_norm[1]',
    'CaloTrijet2016_atlas6_norm[1]',
    'CaloTrijet2016_silvio4_norm[1]',
    'CaloTrijet2016_silvio5_norm[1]',
    'CaloTrijet2016_silvio6_norm[1]',
    'CaloTrijet2016_multi_norm[1]',
    'CaloTrijet2016_nom3_norm[1]',
    'CaloTrijet2016_nom4_norm[1]',
    'CaloTrijet2016_nom5_norm[1]',
    'CaloTrijet2016_nom6_norm[1]',
    'CaloTrijet2016_nom7_norm[1]',
    'CaloTrijet2016_alt3_norm[1]',
    'CaloTrijet2016_alt4_norm[1]',
    'CaloTrijet2016_alt5_norm[1]',
    'CaloTrijet2016_alt6_norm[1]',
    'CaloTrijet2016_alt7_norm[1]',
    'meff_CaloTrijet2016[-1]',
    'seff_CaloTrijet2016[-1]']

combine_pdfs = [ 
    'RooModExpBinPdf::CaloTrijet2016_bkgmodexp(th1x,pm1_CaloTrijet2016,pm2_CaloTrijet2016,pm3_CaloTrijet2016,pm4_CaloTrijet2016,sqrtsm)',
    'RooDijet5ParamBinPdf::CaloTrijet2016_bkg5param(th1x,p51_CaloTrijet2016,p52_CaloTrijet2016,p53_CaloTrijet2016,p54_CaloTrijet2016,sqrts5)',
    'RooAtlasBinPdf::CaloTrijet2016_bkgatlas(th1x,pa1_CaloTrijet2016,pa2_CaloTrijet2016,pa3_CaloTrijet2016,pa4_CaloTrijet2016,sqrtsa)',
    'RooAtlas6ParamBinPdf::CaloTrijet2016_bkgatlas6(th1x,pa61_CaloTrijet2016,pa62_CaloTrijet2016,pa63_CaloTrijet2016,pa64_CaloTrijet2016,pa65_CaloTrijet2016,sqrtsa6)',
    'RooDijet4ParamSilvioPdf::CaloTrijet2016_bkgsilvio4(th1x,p1s4_CaloTrijet2016,p2s4_CaloTrijet2016,p3s4_CaloTrijet2016,sqrtss4)',
    'RooDijet5ParamSilvioPdf::CaloTrijet2016_bkgsilvio5(th1x,p1s5_CaloTrijet2016,p2s5_CaloTrijet2016,p3s5_CaloTrijet2016,p4s5_CaloTrijet2016,sqrtss5)',
    'RooDijet6ParamSilvioPdf::CaloTrijet2016_bkgsilvio6(th1x,p1s6_CaloTrijet2016,p2s6_CaloTrijet2016,p3s6_CaloTrijet2016,p4s6_CaloTrijet2016,p5s6_CaloTrijet2016,sqrtss6)',
    'RooDijetFisherNom7Pdf::CaloTrijet2016_bkgnom7(th1x,p7nom1_CaloTrijet2016,p7nom2_CaloTrijet2016,p7nom3_CaloTrijet2016,p7nom4_CaloTrijet2016,p7nom5_CaloTrijet2016,p7nom6_CaloTrijet2016,sqrtsnom7)',
    'RooDijetFisherNom6Pdf::CaloTrijet2016_bkgnom6(th1x,p6nom1_CaloTrijet2016,p6nom2_CaloTrijet2016,p6nom3_CaloTrijet2016,p6nom4_CaloTrijet2016,p6nom5_CaloTrijet2016,sqrtsnom6)',
    'RooDijetFisherNom5Pdf::CaloTrijet2016_bkgnom5(th1x,p5nom1_CaloTrijet2016,p5nom2_CaloTrijet2016,p5nom3_CaloTrijet2016,p5nom4_CaloTrijet2016,sqrtsnom5)',
    'RooDijetFisherNom4Pdf::CaloTrijet2016_bkgnom4(th1x,p4nom1_CaloTrijet2016,p4nom2_CaloTrijet2016,p4nom3_CaloTrijet2016,sqrtsnom4)',
    'RooDijetFisherNom3Pdf::CaloTrijet2016_bkgnom3(th1x,p3nom1_CaloTrijet2016,p3nom2_CaloTrijet2016,sqrtsnom3)',
    'RooDijetFisherAlt7Pdf::CaloTrijet2016_bkgalt7(th1x,p7alt1_CaloTrijet2016,p7alt2_CaloTrijet2016,p7alt3_CaloTrijet2016,p7alt4_CaloTrijet2016,p7alt5_CaloTrijet2016,p7alt6_CaloTrijet2016,sqrtsalt7)',
    'RooDijetFisherAlt6Pdf::CaloTrijet2016_bkgalt6(th1x,p6alt1_CaloTrijet2016,p6alt2_CaloTrijet2016,p6alt3_CaloTrijet2016,p6alt4_CaloTrijet2016,p6alt5_CaloTrijet2016,sqrtsalt6)',
    'RooDijetFisherAlt5Pdf::CaloTrijet2016_bkgalt5(th1x,p5alt1_CaloTrijet2016,p5alt2_CaloTrijet2016,p5alt3_CaloTrijet2016,p5alt4_CaloTrijet2016,sqrtsalt5)',
    'RooDijetFisherAlt4Pdf::CaloTrijet2016_bkgalt4(th1x,p4alt1_CaloTrijet2016,p4alt2_CaloTrijet2016,p4alt3_CaloTrijet2016,sqrtsalt4)',
    'RooDijetFisherAlt3Pdf::CaloTrijet2016_bkgalt3(th1x,p3alt1_CaloTrijet2016,p3alt2_CaloTrijet2016,sqrtsalt3)',
     'RooMultiPdf::CaloTrijet2016_multi(pdf_index,CaloTrijet2016_bkgmodexp,CaloTrijet2016_bkg5param,CaloTrijet2016_bkgatlas,CaloTrijet2016_bkgatlas6,CaloTrijet2016_bkgsilvio4,CaloTrijet2016_bkgsilvio5,CaloTrijet2016_bkgsilvio6,CaloTrijet2016_bkgnom7,CaloTrijet2016_bkgnom6,CaloTrijet2016_bkgnom5,CaloTrijet2016_bkgnom4,CaloTrijet2016_bkgnom3,CaloTrijet2016_bkgalt7,CaloTrijet2016_bkgalt6,CaloTrijet2016_bkgalt5,CaloTrijet2016_bkgalt4,CaloTrijet2016_bkgalt3)',
    'SUM::extDijetPdf(Ntot_multi_CaloTrijet2016*CaloTrijet2016_multi)'
    ]

signal_mjj = [296, 325, 354, 386, 419, 453, 489, 526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000]
#signal_mjj = [1, 3, 6, 10, 16, 23, 31, 40, 50, 61, 74, 88, 103, 119, 137, 156, 176, 197, 220, 244, 270, 296, 325, 354, 386, 419, 453, 489, 526, 565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132, 2231, 2332, 2438, 2546, 2659, 2775, 2895, 3019, 3147, 3279, 3416, 3558, 3704, 3854, 4010, 4171, 4337, 4509, 4686, 4869, 5058, 5253, 5455, 5663, 5877, 6099, 6328, 6564, 6808, 7060, 7320, 7589, 7866, 8152, 8447, 8752, 9067, 9391, 9726, 10072, 10430, 10798, 11179, 11571, 11977, 12395, 12827, 13272, 13732, 14000]

